In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
# df = pd.read_csv('./Data/CardioVascularRisk.csv')
df = pd.read_csv('https://raw.githubusercontent.com/Zaid-N-Ansari/PG-Mini-Project/refs/heads/main/Data/CardioVascularRisk.csv')

df_columns = df.columns

features = df_columns[:-1]
target = df_columns[-1]

df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0

In [3]:
df.describe()

,id,age,education,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,3390.000000,3390.000000,3303.000000,3368.000000,3346.000000,3390.000000,3390.000000,3390.000000,3352.000000,3390.00000,3390.000000,3376.000000,3389.000000,3086.000000,3390.000000
mean,1694.500000,49.542183,1.970936,9.069477,0.029886,0.006490,0.315339,0.025664,237.074284,132.60118,82.883038,25.794964,75.977279,82.086520,0.150737
std,978.753033,8.592878,1.019081,11.879078,0.170299,0.080309,0.464719,0.158153,45.247430,22.29203,12.023581,4.115449,11.971868,24.244753,0.357846
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.50000,48.000000,15.960000,45.000000,40.000000,0.000000
25%,847.250000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.00000,74.500000,23.020000,68.000000,71.000000,0.000000
50%,1694.500000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.50000,82.000000,25.380000,75.000000,78.000000,0.000000
75%,2541.750000,56.000000,3.000000,20.000000,0.000000,0.000000,1.000000,0.000000,264.000000,144.00000,90.000000,28.040000,83.000000,87.000000,0.000000
max,3389.000000,70.000000,4.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.00000,142.500000,56.800000,143.000000,394.000000,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3390 entries, 0 to 3389
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3390 non-null   int64
 1   age              3390 non-null   int64
 2   education        3303 non-null   float64
 3   sex              3390 non-null   object
 4   is_smoking       3390 non-null   object
 5   cigsPerDay       3368 non-null   float64
 6   BPMeds           3346 non-null   float64
 7   prevalentStroke  3390 non-null   int64
 8   prevalentHyp     3390 non-null   int64
 9   diabetes         3390 non-null   int64
 10  totChol          3352 non-null   float64
 11  sysBP            3390 non-null   float64
 12  diaBP            3390 non-null   float64
 13  BMI              3376 non-null   float64
 14  heartRate        3389 non-null   float64
 15  glucose          3086 non-null   float64
 16  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(6), object(2)
memory usage: 450.4+ KB

In [ ]:
for col in df.columns:
	print(f"Unique values in {col}: {df[col].nunique()}")
	print(f"Missing values in {col}: {df[col].isnull().sum()}")
	print(f"Data type of {col}: {df[col].dtype}")
	print("-" * 20)

Unique values in id: 3390
Missing values in id: 0
Data type of id: int64
--------------------
Unique values in age: 39
Missing values in age: 0
Data type of age: int64
--------------------
Unique values in education: 4
Missing values in education: 87
Data type of education: float64
--------------------
Unique values in sex: 2
Missing values in sex: 0
Data type of sex: object
--------------------
Unique values in is_smoking: 2
Missing values in is_smoking: 0
Data type of is_smoking: object
--------------------
Unique values in cigsPerDay: 32
Missing values in cigsPerDay: 22
Data type of cigsPerDay: float64
--------------------
Unique values in BPMeds: 2
Missing values in BPMeds: 44
Data type of BPMeds: float64
--------------------
Unique values in prevalentStroke: 2
Missing values in prevalentStroke: 0
Data type of prevalentStroke: int64
--------------------
Unique values in prevalentHyp: 2
Missing values in prevalentHyp: 0
Data type of prevalentHyp: int64
--------------------
Unique values in diabetes: 2
Missing values in diabetes: 0
Data type of diabetes: int64
--------------------
Unique values in totChol: 240
Missing values in totChol: 38
Data type of totChol: float64
--------------------
Unique values in sysBP: 226
Missing values in sysBP: 0
Data type of sysBP: float64
--------------------
Unique values in diaBP: 142
Missing values in diaBP: 0
Data type of diaBP: float64
--------------------
Unique values in BMI: 1259
Missing values in BMI: 14
Data type of BMI: float64
--------------------
Unique values in heartRate: 68
Missing values in heartRate: 1
Data type of heartRate: float64
--------------------
Unique values in glucose: 132
Missing values in glucose: 304
Data type of glucose: float64
--------------------
Unique values in TenYearCHD: 2
Missing values in TenYearCHD: 0
Data type of TenYearCHD: int64
--------------------

In [ ]:
x = df.drop(['TenYearCHD', 'id'], axis=1)
x = df.drop('TenYearCHD', axis=1)

y = df['TenYearCHD']

print(f"\nFeatures shape: {x.shape}")
print(f"Target shape: {y.shape}")

In [ ]:
# Identify numerical and categorical features
# Note: Treating 'education', 'BPMeds', 'prevalentStroke', 'prevalentHyp', 'diabetes'
# as categorical based on their nature or limited unique values, even if stored as numeric.
# Adjust this list based on your deeper understanding of the data.

numerical_features = ['age', 'cigsPerDay', 'totChol', 'sysBP', 'diaBP', 'BMI', 'heartRate', 'glucose']
categorical_features = ['education', 'sex', 'is_smoking', 'BPMeds', 'prevalentStroke', 'prevalentHyp', 'diabetes']

# Create preprocessing pipelines for numerical and categorical features

# Numerical pipeline: Impute missing values with median, then scale
'''
numerical_transformer = Pipeline(steps=[
	('imputer', SimpleImputer(strategy='median')), # Median is robust to outliers
	('scaler', StandardScaler())
])
'''
for numerical_feature in numerical_features:
	if df[numerical_feature].isnull().sum() > 0:
		median_val = df[numerical_feature].median()
		df[numerical_feature].fillna(median_val)


# Categorical pipeline: Impute missing values with the most frequent value, then one-hot encode
categorical_transformer = Pipeline(steps=[
	('imputer', SimpleImputer(strategy='most_frequent')),
	('onehot', OneHotEncoder(handle_unknown='ignore', drop='first')) # drop='first' avoids multicollinearity
])

# Create a preprocessor object using ColumnTransformer
# This applies the correct transformations to the correct columns
preprocessor = ColumnTransformer(
	transformers=[
		('num', numerical_transformer, numerical_features),
		('cat', categorical_transformer, categorical_features)
	],
	remainder='passthrough' # Keep other columns (if any) - should be none here
)

# Now, split the data BEFORE applying the preprocessor fitting
# Stratify ensures proportion of target classes is same in train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42, stratify=y)

print(f"\nTraining set shape: X={x_train.shape}, y={y_train.shape}")
print(f"Testing set shape: X={x_test.shape}, y={y_test.shape}")

# Apply the preprocessing: Fit on training data, transform both train and test data
# Note: The output of the preprocessor is typically a NumPy array
x_train_processed = preprocessor.fit_transform(x_train)
x_test_processed = preprocessor.transform(x_test)

print(f"\nProcessed training features shape: {x_train_processed.shape}")
print(f"Processed testing features shape: {x_test_processed.shape}")
# Note: The number of columns will change due to one-hot encoding

In [ ]:
# Define the models
models = {
	"Logistic Regression": LogisticRegression(), # Increased max_iter for convergence
	"Decision Tree": DecisionTreeClassifier(),
	"Random Forest": RandomForestClassifier(),
	"Support Vector Machine (SVM)": SVC(), # probability=True for potential ROC AUC later
	"K-Nearest Neighbors (KNN)": KNeighborsClassifier() # Default n_neighbors=5
}

# Train and evaluate each model
results = {}
for name, model in models.items():
	# Train the model
	model.fit(x_train_processed, y_train)

	# Make predictions on the test set
	y_pred = model.predict(x_test_processed)

	# Evaluate the model
	accuracy = accuracy_score(y_test, y_pred)
	report = classification_report(y_test, y_pred, zero_division=0) # Handles cases with no predicted samples for a class
	conf_matrix = confusion_matrix(y_test, y_pred)

	# Store results
	results[name] = {
		"accuracy": accuracy,
		"classification_report": report,
		"confusion_matrix": conf_matrix
	}

	# Print results
	print(f"--- {name} ---")
	print(f"Accuracy: {accuracy:.4f}")
	print("Confusion Matrix:")
	print(conf_matrix)
	print("Classification Report:")
	print(report)
	print("-"*(len(name) + 8) + "\n")