# Import necesarry libraries and modules

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from warnings import filterwarnings


## Setup some basic settings for the notebook

In [2]:
filterwarnings('ignore')
sns.set_theme(context='notebook', style='darkgrid', palette='Paired', font='sans-serif', font_scale=1)

# 'MPL_QUAL_PALS': {'tab10': 10,
# 	'tab20': 20,
# 	'tab20b': 20,
# 	'tab20c': 20,
# 	'Set1': 9,
# 	'Set2': 8,
# 	'Set3': 12,
# 	'Accent': 8,
# 	'Paired': 12,
# 	'Pastel1': 9,
# 	'Pastel2': 8,
# 	'Dark2': 8},

# 'QUAL_PALETTES': ['tab10',
# 	'tab20',
# 	'tab20b',
# 	'tab20c',
# 	'Set1',
# 	'Set2',
# 	'Set3',
# 	'Accent',
# 	'Paired',
# 	'Pastel1',
# 	'Pastel2',
# 	'Dark2',
# 	'deep',
# 	'deep6',
# 	'muted',
# 	'muted6',
# 	'pastel',
# 	'pastel6',
# 	'bright',
# 	'bright6',
# 	'dark',
# 	'dark6',
# 	'colorblind',
# 	'colorblind6'

In [3]:
training_data = pd.read_csv('https://raw.githubusercontent.com/Zaid-N-Ansari/PG-Mini-Project/refs/heads/main/Data/RossmannStoreTrain.csv')
training_data.head(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1